
#whoweareresponsebtnset {
    display: none;
}

.mobileresponsecontrol {
    display: none;
}

@media screen and (max-width:1366px) {
    /*WhoWeAre*/
    #hambtn  {
        display: none;
    }

    #whoweareresponsebtnset {
        display: block;
        margin-top: 2.5%;
    }

    .btn-group {
        margin-left: -5%;
    }

    .carbtngroup {
        width: 75%;
        padding: 0%;
    }

    .carbtngroup button {
        width: 75%;
        margin-right: 2.5%;
    }

    .missionstatement p {
        margin-left: 15%;
        margin-right: 15%;
    }

    .foundermessage {
        margin-top: -0.5%;
    }
    
    .foundermessage p {
        text-align: center;
        font-size: 90%;
        margin-left: 10%;
        margin-right: 10%;
      }

    .boarddirectcontain {
        margin-left: 2.5%;
    }

    /*whatwedo*/
    .whatwedolist li {
        font-size: 60%;
    }

      /*Contact*/
      section#contact button {
          margin-top: -5%;
      }
}

@media screen and (max-width:1024px) {
section#contact {
    height: 100%;
}
    
}

@media screen and (max-width:960px) {
    body {
        width: 100%;
    }

    .navbar-fixed-top {
        padding: 0%;
    }

    .navfloatleft a {
        font-size: 12px;
    }

    header .intro-text .intro-heading {
        margin-top: 20%;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 35px;
        font-weight: 700;
        line-height: 50px;
    }

    section h2.section-heading {
        margin-top: 5%;
        margin-bottom: 15px;
        font-size: 25px;
    }

    /*whoweare*/
    .item h3 {
        font-size: 25px;
    }

    .missionstatement p {
        font-size: 20px;
    }

    .foundermessage p {
        font-size: 20px;
    }

    #whoweareresponsebtnset {
        display: none;
    }

    .mobileresponsecontrol {
        display: block;
    }

    .carousel-control.left, .carousel-control.right {
        background-image: none;
    }

    .carousel-control.left {
        margin-left: -5%;
    }

    .carousel-control.right {
        margin-right: -5%;
    }

    /*Whatwedo*/
    ul.whatwedolist li {
        font-size: 20px;
        margin: 1.5% 0%;
        padding: 0%;
    }

/*COLLAB*/
    #logocontain {
        margin-bottom: 2.5%;
      }
      
      #logocontain.container img {
        width: 500px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }

      .modal {
          width: 100%;
          height: auto;
      }

      .modal p {
          font-size: 10px;
      }

      /*contact*/
      section#contact .form-group input.form-control {
        width: 100%;
        height: auto;
        padding: 2.5px;
        margin: -1% 0%;
    }
    
    section#contact .form-group textarea.form-control {
        width: 100%;
        height: 100px;
        padding: 2.5px;
        margin: -1% 0%;
    }

    section#contact {
        width: 100%;
        height: 150%;
    }

    .footerclass {
        bottom: 0;
        background-color: rgba(248,248,248,0.6);
        width: 100%; 
        height: auto;
      }

     .listcontent {
         margin-left: 34%;
     }

    .footerclass img {
        float: left;
        width: 25%;
        margin-top: 2.5%; 
    }

    #footerlogo1 {
        margin-top: 10%;
      }

      
      #footerlogo2 {
        margin-top: 5%;
        margin-left: 2.5%;
      }
}

@media screen and (max-width:812px) {
    header .intro-text .intro-heading {
        margin-top: -25%;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
    }

    section h2.section-heading {
        margin-top: -10%;
        margin-bottom: 15px;
        font-size: 40px;
    }

    section#WhoWeAre {
        height: 175%;
    }

    .missionstatement p {
        font-size: 15px;
    }

    .foundermessage p {
        font-size: 15px;
    }

    section#WhatWeDo {
        height: 175%;
    }

    section#Collab {
        height: 175%;
    }
}

@media screen and (max-width:800px) {
    header .intro-text .intro-heading {
        margin-top: 10%;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
    }

    section h2.section-heading {
        margin-top: 10%;
        margin-bottom: 15px;
        font-size: 40px;
    }

    .missionstatement p {
        font-size: 20px;
        margin-left: 15%;
        margin-right: 15%;
    }

    .foundermessage p {
        text-align: center;
        font-size: 12.5px;
        margin-left: 10%;
        margin-right: 10%;
      }

      ul.whatwedolist li {
        font-size: 20px;
        margin: 1.5% 0%;
        padding: 0%;
    }

    #logocontain.container img {
        width: 400px;
        height: auto;
        margin-top: 2.5%;
        margin-left: auto;
        margin-right: auto;
      }

      .modal p {
        font-size: 15px;
    }

    section#contact {
        width: 100%;
        height: 100%;
    }

    section#contact h2.section-heading {
        margin-top: -10%;
    }
}


@media screen and (max-width:736px) {
    .navbar {
        /*background-color: rgb(0,0,0)*/
        background-color:rgba(255,255,255,0.7);
        padding: 0.75% 0%;
      }

      .navfloatleft {
          margin-left: 11%;
      }

    section h2.section-heading {
        margin-top: 2%;
        margin-bottom: 15px;
        font-size: 30px;
    }

    .carousel-inner {
        margin-top: -3%;
    }

    .missionstatement p {
        font-size: 15px;
        margin-left: 15%;
        margin-right: 15%;
    }

    .foundermessage p {
        text-align: center;
        font-size: 9.5px;
        margin-left: 10%;
        margin-right: 10%;
      }

      ul.whatwedolist li {
        font-size: 12.5px;
    }

    #logocontain.container img {
        width: 250px;
        height: auto;
        margin-top: -1.5%;
        margin-left: auto;
        margin-right: auto;
      }

      .modal p {
        font-size: 12.5px;
    }

    section#contact {
        height: 140%;
    }

    section#contact h2.section-heading {
        margin-top: 2.5%;
    }
}

@media screen and (max-width:667px) {
    .navfloatleft {
        margin-left: 7.5%;
    }

    section h2.section-heading {
        margin-top: 0%;
        margin-bottom: 15px;
        font-size: 30px;
    }

    section#WhoWeAre {
        height: 120%;
    }
    
    ul.whatwedolist li {
        font-size: 10px;
    }

    #logocontain.container img {
        width: 200px;
        height: auto;
        margin-top: -1.5%;
        margin-left: auto;
        margin-right: auto;
      }

      section#contact {
        height: 150%;
    }
}

@media screen and (max-width:640px) {
    .navfloatleft {
        margin-left: 5%;
    }
    
    header .intro-text .intro-heading {
        margin-top: 0%;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
    }

    section h2.section-heading {
        margin-top: -2.5%;
        margin-bottom: 15px;
        font-size: 30px;
    }

    .missionstatement p {
        font-size: 10px;
        margin-left: 15%;
        margin-right: 15%;
    }

    section#WhoWeAre {
        height: 150%;
    }

    section#WhatWeDo {
        height: 120%;
    }

    section#Collab {
        height: 120%;
    }

    .modal p {
        font-size: 10px;
    }

    section#contact {
        height: 200%;
    }
}

@media screen and (max-width:568px) {
    
    section h2.section-heading {
        margin-top: -3.5%;
        margin-bottom: 15px;
        font-size: 30px;
    }
    
    .navfloatleft {
        margin-left: 3.5%;
    }

    .navfloatleft a {
        margin-right: -2.5%;
        font-size: 12px;
    }

}

@media screen and (max-width:534px) {
    .navfloatleft {
        margin-left: 5.5%;
        }
    
    .navfloatleft a {
        margin-right: -2.5%;
        font-size: 10px;
    }
    
    header .intro-text .intro-heading {
        margin-top: -7.5%;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
    }
    
    section#WhoWeAre {
        height: 200%;
    }

    section#WhatWeDo {
        height: 200%;
    }

    section#Collab {
        height: 200%;
    }

    section#contact {
        height: 250%;
    }
}


@media screen and (max-width:480px) {
.navfloatleft {
    margin-left: 2.25%;
    }

.navfloatleft a {
    margin-right: -2.5%;
    font-size: 10px;
}
 

 section#WhatWeDo {
     height: 100%;
 }

 section#Collab {
     height: 100%;
 }

}

@media screen and (max-width:414px) {
    .navfloatleft {
        margin-left: 0%;
        }
    
    .navfloatleft a {
        margin-right: -2.5%;
        font-size: 8px;
    }
    
    section#WhoWeAre {
        height: 175%;
    }

    .missionstatement p {
        font-size: 15px;
        margin-left: 15%;
        margin-right: 15%;
    }

    .foundermessage p {
        text-align: center;
        font-size: 11px;
        margin-left: 10%;
        margin-right: 10%;
      }
    
    .carousel-inner img {
        width: 50%;
        margin-bottom: 2.5%;
        margin-left: 5%;
    }

    .boarddirectcontain img {  
      width: 40%;
    }

    ul.whatwedolist li {
        font-size: 15px;
    }

    #logocontain.container img {
        width: 300px;
        height: auto;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
      }

      section#contact {
        height: 120%;
    }
}

@media screen and (max-width:375px) {
    .navfloatleft {
        margin-left: 0.75%;
        }
    
    .navfloatleft a {
        margin-right: -2.5%;
        font-size: 6.5px;
    }
}

@media screen and (max-width:360px) {
    .navfloatleft {
        margin-left: 1%;
        }
    
    .navfloatleft a {
        margin-right: -2.5%;
        font-size: 6px;
    }
}

@media screen and (max-width:320px) {
    section#contact {
        height: 150%;
    }
    
    .navfloatleft {
        margin-left: 1%;
        }
    
    .navfloatleft a {
        margin-right: -5%;
        font-size: 5.5px;
    }
    
    section#WhoWeAre {
        height: 175%;
    }
    
    .missionstatement p {
        font-size: 13px;
        margin-left: 15%;
        margin-right: 15%;
    }

    #logocontain.container img {
        width: 200px;
        height: auto;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
      }

    
}




